.app-header {
    border-bottom: $bs1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    background-color: $clr6;
    grid-column: 1/-1;

    &.open {
        height: 120px;
    }

    & button {
        cursor: pointer;
        border: none;
        background-color: $clr6;
        color: $clr7;
        font-size: rem(14px);
        line-height: rem(18px);
        font-weight: 600;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    & .background-shadow {
        top: 80px;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: #22222256;
        opacity: 0;
        display: none;
        position: absolute;

        &.open {
            z-index: 1;
            display: block;
            opacity: 1;
        }

        &.login {
            top: 0;
            z-index: 3;
            display: block;
            opacity: 1;
        }
    }

    nav {
        align-items: center;
        display: flex;
        height: 80px;
        position: relative;
        width: 100%;
        z-index: 1;
        grid-column: 2;
        grid-row: 1;

        & button {

            &:not(:last-child) {
                padding: 0 16px;
            }
        }
    }

    .logo-container {
        display: flex;
        height: 36px;
        width: 102px;
        flex: 1 0 140px;
        cursor: pointer;

        @include for-header-brakepoint {
            flex: 0 1 0px;
            margin-right: 24px;
        }

        & .header-logo {
            cursor: pointer;
            height: 100%;
            width: 36px;
        }

        & .header-logo-text {
            font-family: Cereal;
            align-self: center;
            color: $clr1;
            font-size: rem(22px);
            font-weight: bold;
            display: none;

            @include for-normal-layout {
                display: block;
            }
        }
    }

    .filter-container {
        border-radius: 25px;
        box-shadow: 0px 4px 14px 0px rgba(72, 72, 72, 0.15);
        transition: 0.1s ease;
        height: 48px;
        align-items: center;
        display: flex;
        border: 1px solid rgba(211, 211, 211, 1);
        opacity: 1;

        &.closed {
            opacity: 0;
        }

        &:hover {
            box-shadow: 0px 4px 14px 0px rgba(72, 72, 72, 0.4);
            cursor: pointer;
        }
    }

    .filter-btns {
        padding: 3px 8px 3px 15px;

        &> :first-child,
        &> :nth-child(2) {
            border-right: 1px solid rgba(211, 211, 211);
        }

        & .guest-filter {
            font-weight: 400;
            color: $clr8
        }

        & .location-filter {
            border-radius: 40px 4px 4px 40px;
            padding-left: 8px;
            padding-right: 8px;
        }

        & .search-filter {
            border-radius: 4px 40px 40px 4px;
        }

        & .host-btn,
        & .lang-btn {
            border-radius: 16px;

            &:hover {
                background-color: $bgh1;
            }
        }

        & .search-btn {
            background-color: $clr1;
            border-radius: 50%;
            height: 32px;
            width: 32px;

            & .fa-search {
                font-size: rem(12px);
                margin-top: 1px;
            }
        }

    }

    .user-nav-container {
        display: flex;
        flex: 1 0 140px;
        justify-content: flex-end;
        padding: 5px 5px 5px 12px;
        height: 100%;
    }

    .host-lng-container {
        display: flex;
        align-items: center;
        justify-content: center;

        & .lang-btn {
            border-radius: 22px;
            height: 42px;
            width: 46px;
            margin: 0 5px;
        }

        & .host-btn {
            padding: 12px;
            border-radius: 22px;
        }

        & .bi-globe {
            margin-top: 5px;
            font-size: rem(16px);
        }
    }

    .user-info-btn {
        display: flex;
        align-self: center;
        justify-content: space-between;
        align-items: center;
        height: 42px;
        width: 77px;
        padding: 6px 6px 5px 10px;
        transition: 0.3s;
        border: $bs1;
        border-radius: 21px;

        &:hover {
            box-shadow: 0px 1px 3px 1px rgb(72 72 72 / 0.3);
        }

        & .fa-user-circle {
            height: 30px;
            width: 30px;
            color: gray;
        }
    }

    & .fa-search {
        color: $clr6;
    }

}

.header-opened {
    position: absolute;
    // background-color: rebeccapurple;
    top: 0px;
    height: 80px;
    width: 100%;
    z-index: 0;
    margin: auto 0;
    transition: top 0.3s ease;

    &.open {
        z-index: 2;
        top: 80px;
        background-color: white;
    }
}

//// details appheader /////
.filter-btns-details {
    width: 300px;
    padding: 0 0 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .search-btn {
        background-color: $clr1;
        border-radius: 50%;
        height: 32px;
        width: 32px;
    }

    & span {
        padding: 0 16px;
        font-size: rem(14px);
        line-height: rem(18px);
        font-weight: 600;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

/////// modals ////////
/// 
.user-modal {
    position: absolute;
    width: 240px;
    background-color: $clr6;
    border-radius: 10px;
    padding: 8px 0;
    flex-direction: column;
    justify-content: center;
    right: 35px;
    top: 70px;
    display: none;
    box-shadow: 0px 1px 3px 1px rgb(72 72 72 / 0.4);

    &.open {
        z-index: 3;
        display: flex;
        justify-content: space-between;

    }

    &.on-details-layout {
        right: 45%;
    }

    & button {
        text-align: left;
        width: 100%;
        height: 40px;
        padding: 10px 16px;


        &:not(:first-child) {
            font-weight: 400;

        }

        &:first-child {
            font-weight: 600;
        }

        &:hover {
            background-color: $bgh1;
        }

    }

    hr {
        width: 100%;
        color: rgba(211, 211, 211, 0.1);
    }

}

.filter-modal {
    display: flex;
    justify-content: space-between;
    height: 70px;
    position: fixed;
    // background-color: #ebebeb;
    margin: auto;
    opacity: 0;
    border: 1px solid lightgray;
    border-radius: 35px;
    transform: scale(0.6) translateY(-100%);
    transition: all 0.3s ease-in-out;
    // transition: transform 0.3s, ease-in-out;
    pointer-events: auto;
    top: 60px;
    right: 0;
    left: 0;
    max-width: 450px;

    &.open {

        max-width: 870px;
        z-index: 2;
        opacity: 1;
        transform: scale(1) translateY(30%);
    }


    & .filter-modal-middle-btns,
    & .filter-modal-left-btns {
        justify-content: space-evenly;
        align-items: center;
    }

    & .filter-modal-left-btns {
        width: 327px;
        display: flex;
    }

    & .filter-modal-middle-btns {
        width: 260px;
    }

    & .inner-btns-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-evenly;
        border-radius: 35px;
        height: 100%;
        border: 1px solid lightgray;
        background-color: none;

        &:hover {}

        &.right {
            padding: 8px 24px;
        }

        &.middle {
            flex-direction: column;

            & button {
                // height: 50%;
                padding: 8px 24px;

                &:hover {
                    border-radius: 35px;
                    height: 100%;
                    background-color: inherit;
                }
            }
        }

        &.left {

            // justify-content: space-evenly;
            padding: 8px 20px;
            border-radius: 35px;
        }

        & input {
            border: none;
        }
    }

    & .filter-modal-right-btns {
        width: 260px;
        display: flex;
        flex-direction: column;

        & .search-btn {
            align-self: center;
            background-color: $clr1;
            border-radius: 50%;
            height: 48px;
            width: 48px;
        }
    }

    & .inner-btn-wrapper {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        background-color: $clr6;
        border-radius: 35px;
        flex-grow: 1;

        &:hover {
            background-color: $bgh1;
        }
    }
}

.inner-button-top {
    font-size: rem(13px);
    line-height: rem(16px);
    font-weight: 600;
    color: $clr7;
    text-align: left;
    width: 100%;
    // margin-bottom: 5px;
}

.inner-button-bottom {
    text-align: left;
    font-size: rem(14px);
    line-height: rem(18px);
    color: #717171;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}