.app-header {
    border-bottom: 1px solid lightgray;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        display: flex;
        height: 100%;
        position: relative;
        width: 100%;
        z-index: 1
    }

    .header-logo {
        cursor: pointer;
        height: 70px;
        width: 70xp;
    }

    .filter-container {
        border-radius: 16px;
        box-shadow: 0px 4px 14px 0px rgba(72, 72, 72, 0.25);
        transition: 0.3s;

        &:hover {
            box-shadow: 0px 4px 14px 0px rgba(72, 72, 72, 0.4);
        }
    }

    & button {
        border: none;
        background-color: white;
        color: #222222;
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .location-filter {
        border-radius: 40px 4px 4px 40px;
    }

    .search-filter {
        border-radius: 4px 40px 40px 4px;
    }

    .host-btn,
    .lang-btn {
        border-radius: 16px;

        &:hover {
            background-color: rgba(211, 211, 211, 0.3);
        }
    }

    .search-btn {
        background-color: #ff385c;
        border-radius: 50%;
        height: 40px;
    }

    .user-nav-container {
        display: flex;
        justify-content: left;
        padding: 5px 5px 5px 12px;
        height: 100%;
    }

    .host-lng-container {
        display: flex;
        align-items: center;
        justify-content: center;

        & .lang-btn {
            border-radius: 22px;
            height: 42px;
            width: 46px;
            margin: 0 5px;
        }

        & .host-btn {
            padding: 12px;
            border-radius: 22px;
        }

        & .bi-globe {
            margin-top: 5px;
            height: 16px;
            width: 16px;
        }
    }

    .user-info-btn {
        display: flex;
        align-self: center;
        justify-content: space-between;
        align-items: center;
        height: 42px;
        width: 77px;
        padding: 6px 6px 5px 10px;
        transition: 0.3s;
        border: 1px solid lightgray;
        border-radius: 21px;

        &:hover {
            box-shadow: 0px 1px 3px 1px rgb(72 72 72 / 0.3);
        }

        .fa-user-circle {
            height: 30px;
            width: 30px;
            color: gray;
        }
    }

    .fa-search {
        color: white;
    }

}

/////// modals ////////
.user-modal {
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 5px;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    right: 0;
    display: none;
    z-index: 1;

    &.open {
        display: block;
    }

    & button {
        width: 100%;

        &:hover {
            background-color: rgba(211, 211, 211, 0.3);
        }

    }


}

.filter-modal {
    position: absolute;
    height: 60px;
    width: 600px;
    background-color: white;
    border-radius: 5px;
    padding: 5px 0;
    z-index: 1;
    border: 1px solid lightgray;
    border-radius: 35px;

    display: none;

    &.open {
        display: flex;

    }

    & button {
        width: 100%;
        border-radius: 16px;

        &:hover {
            background-color: rgba(211, 211, 211, 0.3);
        }

    }


}