.stay-preview {
    position: relative;
    font-family: Circular;
    font-size: 1rem;
    line-height: 20px;

    &:hover {
        & .img-preview-paging-btns {
            opacity: 1;
        }
    }

    // .prev-carousel{
    //     display: flex;
    //     // width: 100%;
    //     // aspect-ratio: 1/0.95;
    //     overflow: hidden;


    //     .stay-preview-img {
    //         width: 100%;
    //         aspect-ratio: 1/0.95;
    //         border-radius: 10px;
    //     }
    // }

    .stay-preview-img {
        width: 100%;
        aspect-ratio: 1/0.95;
        border-radius: 10px;
    }

    .img-preview-paging-btns {
        position: absolute;
        top: 36%;
        border-radius: 50%;
        background-color: rgba($color: $clr6, $alpha: 0.75);
        color: $clr7;
        padding: 6px 9px;
        font-size: 14px;
        margin: 0;
        text-align: center;
        opacity: 0;
        transition: 0.4s;

        &:hover {
            background-color: rgba($color: $clr6, $alpha: 1);
            padding: 8px 10.5px;
        }
    }

    .prev-img-preview-btn {
        left: 12px;

        &:hover {
            left: 10px;
        }
    }

    .next-img-preview-btn {
        right: 12px;

        &:hover {
            right: 10px;
        }
    }

    .liked {
        color: #ff385c;
    }

    .unliked {
        color: rgba($color: $clr7, $alpha: 0.7);
    }

    .like-btn {
        position: absolute;
        top: 15px;
        right: 10px;
        font-size: 1.5rem;

        .reg-heart-fa {
            line-height: 20px;
            font-weight: 600;
            color: $clr6 ;
        }
    }

    .curr-img-indication {
        position: absolute;
        bottom: 110px;
        left: 45%;
        font-size: 40px;
    }

    .prev-price {
        color: $clr7;
        margin-top: 7px;
    }

    .prev-loc-rate {
        display: flex;
        justify-content: space-between;
        margin-top: 7px;
    }

    .prev-host-name,
    .prev-date {
        color: $clr8;
    }

    p {
        margin-bottom: 0;
        font-weight: 400;
    }
}