.stay-preview{
    position: relative;
    aspect-ratio: 0.73/1;
    .stay-preview-img{
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 10px;
    }

    .img-preview-paging-btns{
        position: absolute;
        // top: 140px;
        top: 35%;
        border-radius: 50%;
        background-color: rgba($color: $clr6, $alpha: 0.9);
        // left: 20px;
        color: $clr7;
        padding:8px ;
        font-size: 14px;
        margin: 0;
        text-align: center;
    }
    .prev-img-preview-btn{
        left: 5%;
    }
    .next-img-preview-btn{
        right: 5%;
    }


    .like-btn{
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        line-height: 20px;
        font-weight: 600;
        cursor:pointer ;
        
       .heart-fa{

        color:rgba($color: $clr7, $alpha: 0.7) ;
       }

        .reg-heart-fa{
            line-height: 20px;
            font-weight: 600;
            color:$clr6 ;
           border-color: green;
            // background-color: red;

        }
    }

    .curr-img-indication{
        position: absolute;
   
         top: 50%;
        left: 38%;
     
    }
}