.trip-list-container {
    color: $clr7;
    margin: 32px 0 50vh;
    
    .trip-list-title {
        font-size: 22px;
        margin: 32px 0;
    }

    .trip-list {
       
        display: grid;
        gap: 32px;

    }
}