.user-edit {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10px;
    font-family: cereal;
    margin-bottom: 10px;
    margin-top: 10px;

    .edit-section {
        padding: 10px;
        background-color: #f3f3f3;
        border-radius: 10px;

        .user-info {
            display: flex;
            flex-direction: column;
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;

            .user-details {
                display: flex;
                justify-content: space-around;
                align-items: center;
                background-color: #f3f3f3;
                height: 200px;

                label {
                    font-weight: 600;

                    input {
                        margin-left: 10px;
                    }
                }
            }

            .user-image {
                text-align: center;
                img {
                    opacity: 1;
                    width: 400px;
                    border-radius: 200px;
                }
                img:hover {
                    opacity: 0.5;
                    filter: brightness(50%);
                }
            }
        }
    }
}

.image-container:hover .change-picture-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.change-picture-text {
    display: none;
}

.btn-container {
    position: relative;
    margin-top: 10px;
    align-self: center;
    width: 20%;
    height: 48px;
    cursor: pointer;
    border: none;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);

    @for $i from 0 to 10 {
        .cell:nth-child(10n + #{$i + 1}):hover~.content {
            --positionX: #{$i};
        }

        .cell:nth-child(n + #{10 * $i + 1}):nth-child(-n + #{10 * ($i + 1)}):hover~.content {
            --positionY: #{$i};
        }
    }


    .cell {
        width: 100%;
        height: 100%;
        z-index: 1;
        // border: 1px solid rgba(128, 128, 128, 0.753);
    }

    .content {
        --positionX: 0;
        --positionY: 5;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        border-radius: 8px;
        width: 100%;

        background-image: radial-gradient(circle at calc((0 + var(--positionX, 0)) * 10%) calc((0 + var(--positionY, 0)) * 5%),
                rgb(241, 37, 75) 0%,
                rgb(230, 30, 77) 27.5%,
                rgb(227, 28, 95) 40%,
                rgb(215, 4, 102) 57.5%,
                rgb(189, 30, 89) 75%,
                rgb(189, 30, 89) 100%);
    }

    .action-btn {
        padding: 0 0;
        margin: 0 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;


        span {
            padding: 0 0;
            margin: 0 0;
            color: white;
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            font-family: sans-serif;
        }
    }
}