header {
    display: none;
}

.user-edit {
    margin-top: 10px;
    font-family: cereal;
    box-shadow: rgb(0 0 0 / 20%) 0 6px 16px;

    .app-footer {
        background-color: #f3f3f3;
        border-top: 0;
        grid-template-columns: 24px 1fr 24px;
    }

    .edit-section {
        padding: 10px;
        background-color: #f3f3f3;

        .user-info {
            display: flex;
            flex-direction: column;
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;

            .user-details {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                background-color: #f3f3f3;
                height: 200px;

                label {
                    font-weight: 600;

                    input {
                        margin-left: 10px;
                        border: 0;
                        outline: 0;
                        font-family: inherit;
                        border-bottom: 1px solid rgb(215, 215, 215);
                        background-color: inherit;
                    }
                }
            }

            .user-image {
                text-align: center;

                img {
                    opacity: 1;
                    width: 400px;
                    border-radius: 200px;
                    outline: 1px solid $clr8;
                }

                img:hover {
                    opacity: 0.5;
                    filter: brightness(50%);
                }
            }
        }
    }

}



.image-container:hover .change-picture-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.change-picture-text {
    display: none;
}

.save-edit-btn {
    background-color: $clr1;
    width: 30%;
    align-self: center;
    color: white;
    border-radius: 10px;
    height: 30px;
    border: 0;
}

.save-btn:hover {
    box-shadow: rgb(0 0 0 / 10%) 0 6px 16px;
}

@media (min-width: 1600px) {
    .user-edit {
        .app-footer {
            grid-template-columns: 1fr 1000px 1fr;
        }
    }
}

@media (min-width: 460px) {
    .user-details {
        margin-top: 90px;
    }
}