.host-dashboard {
    padding:  0 16px;
    font-family: Circular;
    // grid-template-columns: 200px 1fr 200px;

    &>* {
        grid-column: 2;
    }

    @include for-midium-layout {
        padding: 0 5%;
    }
    @include for-normal-layout {
        padding: 0 8%;
    }
    @include for-wide-layout {
        padding: 0 10%;
    }

    .header-opened {
        background-color: #484848;

    }

    .app-header .logo-container .header-logo,
    .app-header .logo-container .header-logo-text {
        color: $clr6 ;


    }

    .app-header {
        display: none;
        button:not(.user-modal button) {
            color: $clr6 ;
        }

        button {
            background: none;
            svg {
                color: $clr6 ;
            }
        }

        nav {
            grid-column: 1 / -1;
            padding: 0 16px;
            @include for-midium-layout {
                padding: 0 24;
            }
            @include for-normal-layout {
                padding: 0 40;
            }
            @include for-wide-layout {
               
                padding: 0 80px;
            }
        }
        @include for-midium-layout {
            display: block;
        }
    }

}

.host-dashboard-main {
    margin-top: 1rem;
    @include for-mobile-layout {
        margin-top: 100px;
    }
    @include for-midium-layout {
        margin-top: 160px;
    }
    // border-bottom: $clr8 2px solid;

    header {
        display: flex;
        justify-content: space-between;

        .stat-prev {
            display: flex;
            align-items: center;
            padding-bottom: 1rem;
            flex-direction: column;
            text-align: center;
            @include for-midium-layout {
                gap: 1rem;
                flex-direction: row;
                text-align: left;
            }

        }

        h3 {
            margin: 0;
            font-size: rem(24px);
            position: relative;
            padding-left: 25px;
            font-family: inherit;
            

            @include for-mobile-layout {
                font-size: rem(30px);
            }
            @include for-narrow-layout {
                font-size: rem(40px);
            }
            @include for-wide-layout {
                font-size: rem(50px);
            }
            
            svg{
                position: absolute;
                font-size: rem(24px);
                font-weight: bold;
                left:0px;
                @include for-mobile-layout {
                    font-size: rem(30px);
                }
               

                @include for-narrow-layout {
                    top: 5px;
                }

                @include for-wide-layout {
                    top: 10px;
                }
            }
        
        }

        p {
            font-size: rem(14px);
            margin: 0;

            @include for-narrow-layout {
                font-size: 1rem;
            }
            @include for-wide-layout {
                font-size: rem(20px);
            }
        }

        .salary{
            display: block;
            @include for-mobile-layout {
               display:none;
            }
        }
        .monthly{
            display:none;
            @include for-mobile-layout {
                display: block;
            }
        }
    }

    hr {
        margin-bottom: 36px;
    }

    .chart-header{
        position: relative;
        .chart-title{
            font-size: 1.5rem;
            margin: 1rem 0 1.5rem;
            // text-align: center;
        }

        div{
            position: absolute;
            right: 0;
        }

        select{
            width: 20px;
            border: none;
            outline: none;
            background: none;
            // height: 50px;
            option{
                background-color: #484848;
                color: $clr6;

                &:hover{
                    background-color:#00A699;
                }
            }
        }
    }


    .order-list {
        margin: 30px 0;
        @include for-mobile-layout {
            margin: 60px 0;
         }
    
        h4{
            font-size: 2rem;
            padding: 1rem 0;
            margin-bottom: 2rem;
            border-bottom: #484848 1px solid;
        }
    }


}

.no-orders{
    margin: 140px 0 100vh;

    h2{
        font-size: 2rem;
        padding: 1rem 0;
        border-bottom: $bs1;
    }

    div{
        padding: 1rem 0;
        border-bottom: $bs1;
        margin-top: 2rem;

        
    }
    h4{
        font-size: rem(24px);
        padding: 0.75rem 0;
    }

    button {
        margin: 16px 0 48px;
        padding: 13px 23px;
        border: 1px solid $clr7;
        border-radius: 8px;
        font-weight: bolder;
        width: 161px;
        height: 47px;
        background: none;

        &:hover {
            background-color: darken($color: $clr6, $amount: 5%);
        }
    }
    small{

        margin: 1rem 0;
        position: absolute;
        top: 450px;
    }

    span{
        border-bottom: 1px solid $clr7;
        font-weight: bold;
       
    }

  
}

// .chart-container{
//     width: 60%;
//     margin-left: 200px;
//     margin: 300px 0;

// }



// .host-dashboard {
//     margin-top:0px;
//     padding: 0 24px;
//     color: $clr7;


//     @include for-mobile-layout {
//         margin-top: 80px;
//         padding: 0 40px;
//     }

//     @include for-trip-wide-layout {
//         padding: 0 80px;
//     }

//     h2 {
//         padding: 36px 0 24px;
//         font-size: 2rem;
//         border-bottom: $bs1;
//     }

//     .dashboard-main {
//         width: 100%;
//         display: flex;
//         margin-top: 2rem;
//         gap: 2rem;
//         flex-direction: column-reverse;

//         // @include for-mobile-layout {
//         //     margin-top: 2rem;
//         // }

//         @include for-midium-layout {
//             flex-direction: row;

//             // padding: 0 40px;
//         }

//         @include for-trip-wide-layout {
//             // padding: 0 80px;
//         }
//     }

// }

// .statistics-container {
//     width: 100%;
//     // width: 40%;
//     height: 700px;
//     // position: sticky;
//     top: 204px;
//     box-shadow: 0px 4px 14px 0px rgba(72, 72, 72, 0.4);
//     border-radius: 8px;
//     font-family: Circular !important;
//     @include for-midium-layout {
//         width: 50%
//         // padding: 0 40px;
//     }
//     @include for-normal-layout {
//         width: 40%

//     }

//     header {
//         gap: 1rem;
//         padding: 1rem;
//         border-bottom: $bs1;

//         h3 {

//             font-family: Circular;
//             margin: 0;
//         }

//     }

//     .statistics-info {
//         padding: 1rem;
//         gap: 1rem;
//         border-bottom: $bs1;
//     }
// }

// .orders-list {
//     // width: 60%;
//     width: 100%;
//     min-height: 100vh;
//     box-shadow: 0px 4px 14px 0px rgba(72, 72, 72, 0.4);
//     border-radius: 8px;
//     gap: 1rem;
//     @include for-midium-layout {

//         width: 50%;
//         // padding: 0 40px;
//     }
//     @include for-normal-layout {

//         width: 60%;
//         // padding: 0 40px;
//     }
// }