.host-dashboard {
    margin-top: 80px;
    padding: 0 24px;
    color: $clr7;

    @include for-mobile-layout {
        padding: 0 40px;
    }

    @include for-trip-wide-layout {
        padding: 0 80px;
    }

    h2 {
        padding: 36px 0 24px;
        font-size: 2rem;
        border-bottom: $bs1;
    }

    .dashboard-main {
        width: 100%;
        display: flex;
        margin-top: 2rem;
        gap: 2rem;
    }

}

.statistics-container {
    width: 40%;
    height: 700px;
    position: sticky;
    top: 204px;
    box-shadow: 0px 4px 14px 0px rgba(72, 72, 72, 0.4);
    border-radius: 8px;
    font-family: Circular !important;

    header {
        gap: 1rem;
        padding: 1rem;
        border-bottom: $bs1;

        h3 {

            font-family: Circular;
            margin: 0;
        }

    }

    .statistics-info {
        padding: 1rem;
        gap: 1rem;
        border-bottom: $bs1;
    }
}

.orders-list {
    width: 60%;
    min-height: 100vh;
    box-shadow: 0px 4px 14px 0px rgba(72, 72, 72, 0.4);
    border-radius: 8px;
    gap: 1rem;
}