.account-setting {
    h1 {
        font-size: 32px;
        line-height: 36px;
        font-weight: 600;
        color: rgb(34, 34, 34);
    }

    h2 {
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
        color: rgb(34, 34, 34);
        margin-bottom: 16px;

        .user-fullname {
            font-weight: 600;
        }
    }
}

.user-details {
    color: $clr7;
    font-weight: lighter;
    font-family: Circular;

    .app-header {
        display: none;

        @include for-mobile-layout {
            display: grid;
            grid-template-columns: 64px 1fr 64px;
        }

        @include for-trip-wide-layout {
            grid-template-columns: 1fr 1280px 1fr;
        }
    }


    .user-deatils-cont {
        display: grid;
        grid-template-columns: 1fr;

        @include for-narrow-layout {
            margin-top: 160px;
        }

        @include for-mobile-layout {
            grid-template-columns: 24px 1fr 24px;

        }

        @include for-narrow-layout {
            grid-template-columns: 40px 1fr 40px;

        }

        @include for-normal-layout {
            grid-template-columns: 1fr 1032px 1fr;
        }

        >* {
            grid-column: 2;
        }

        header {
            font-weight: 700;

            h2 {
                font-size: 1.5rem;
                padding-bottom: 0.8rem;

                @include for-narrow-layout {
                    font-size: 2rem;

                }
            }

            p {
                font-size: rem(18px);
                margin-bottom: 40px;

            }

            p :nth-child(2) {
                font-weight: lighter;
            }

            p :nth-child(3) {
                border-bottom: 2px solid $clr7;
                cursor: pointer;
            }

        }

        .setting-cards-cont {
            display: grid;
            grid-template-columns: 1fr;
            gap: 1.5rem;

            @include for-narrow-layout {
                grid-template-columns: 1fr 1fr 1fr;
            }

            svg {
                font-size: 4rem;
                display: block;
                height: 32px;
                width: 32px;
                fill: currentColor;
                margin-bottom: 26px;
            }

            h4 {
                font-size: 16px;
                line-height: 20px;
                color: rgb(34, 34, 34);
                font-weight: 600;
                height: auto;
                margin-bottom: 8px;
            }

            p {
                font-size: 14px;
                line-height: 18px;
                font-weight: 400px;
                color: rgb(113, 113, 113);
            }

            .setting-prev {
                padding: 0.5rem;
                box-shadow: 0px 4px 14px 0px rgba(72, 72, 72, 0.4);
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
                margin-bottom: 5px;

                // @include for-mobile-layout {
                //     aspect-ratio: 16/7;


                // }
                // @include for-narrow-layout {
                //     aspect-ratio: 16/9;

                // }

                p {
                    font-size: rem(18px);
                    margin: 0.8rem 0;
                }
            }
        }
    }
}