.stay-edit {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10px;
    font-family: cereal;
    margin-bottom: 10px;

    .edit-section {
        padding: 10px;
        background-color: #f3f3f3;
        border-radius: 10px;

        .stay-info {
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;

            .stay-name h2 input {
                font-size: 1.125em;
                width: 100%;
            }

            .stay-name div {
                display: flex;
                font-size: 1.3em;
                gap: 50px;
            }

            .img-container {
                display: grid;
                grid-template: 1fr 1fr/2fr 1fr 1fr;
                border-radius: 20px;
                gap: 8px;
                margin-bottom: 15px;
                height: 350px;
                margin-top: 15px;

                .img-upload {
                    background-color: #e6e6e6;
                    font-family: cerealReg;

                    label {
                        width: 100%;
                        height: 100%;
                        display: grid;
                        place-content: center;

                        p {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    label {
        margin-block: 10px;
    }

    input {
        border: 0;
        outline: 0;
        font-family: inherit;
        border-bottom: 1px solid rgb(215,215,215);
    }
}