@font-face {
    font-family: Cereal;
    src: url(../../fonts/cereal.otf);
}

@font-face {
    font-family: CerealLight;
    src: url(../../fonts/AirbnbCereal_W_Bk.otf);
}



@font-face {
    font-family: Roboto;
    src: url(../../fonts/Roboto-Black.ttf);
}