// Colors
$clr1: #ff385c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222222;
$clr8: #717171;
// $clr8: lighten($color: $clr7, $amount: 40%);
$clr9: #ff385c;
$clr10: #FF5A5F;
$bgclr1: radial-gradient(circle at calc((0 + var(--positionX, 0)) * 10%) calc((0 + var(--positionY, 0)) * 5%),
                rgb(241, 37, 75) 0%,
                rgb(230, 30, 77) 27.5%,
                rgb(227, 28, 95) 40%,
                rgb(215, 4, 102) 57.5%,
                rgb(189, 30, 89) 75%,
                rgb(189, 30, 89) 100%);


// Bg-color-hover
$bgh1: #d3d3d34d;

// Border-setting-app-header

$bs1: 1px solid lightgray;
$bs2: 1px solid black;

// Font-families
$ff1: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 

// Breakpoints
// dont touch its for the index and its mesured by yoni
$mobile-breakpoint: 460px;
$narrow-breakpoint: 745px;
$medium-breakpoint: 950px;
$normal-breakpoint: 1125px;
$wide-breakpoint: 1390px;
$ultra-wide-breakpoint: 1920px;

// $mobile-breakpoint: 460px;
// $narrow-breakpoint: 745px;
// $medium-breakpoint: 950px;
// $normal-breakpoint: 1125px;
$wide-trip-breakpoint: 1600px;
// $ultra-wide-breakpoint: 1920px;





// $break-narrow: 650px;
// $break-normal: 1100px;
// $break-wide: 1400px;

// $padded-break-narrow: $break-narrow + $layoutPadding * 2;
// $padded-break-normal: $break-normal + $layoutPadding * 2;
// $padded-break-wide: $break-wide + $layoutPadding * 2;